library("ROAuth")
library("twitteR")
library("RCurl")

requestURL <-  "http://api.twitter.com/oauth/request_token"
accessURL =    "http://api.twitter.com/oauth/access_token"
authURL =      "http://api.twitter.com/oauth/authorize"
consumerKey =   "consumerKey"
consumerSecret = "consumerSecret"
twitCred <- OAuthFactory$new(consumerKey=consumerKey,
                         consumerSecret=consumerSecret,
                         requestURL=requestURL,
                         accessURL=accessURL,
                         authURL=authURL)
download.file(url="http://curl.haxx.se/ca/cacert.pem",
          destfile="cacert.pem")
twitCred$handshake(cainfo="cacert.pem")

registerTwitterOAuth(twitCred)
